*/.idea/
*/target/
*/src/main/java/docs/
*/src/main/java/docs1/
*/src/main/java/EnglishData/
*.iml
*/obj/
*/bin/
/Phase-5/SearchEngine/obj/
/Phase-5/SearchEngine/bin/
/Phase-5/SearchEngineTests/bin/
/Phase-5/SearchEngineTests/obj/
/Phase-5/Phase-5.sln.DotSettings.user


